[submodule ".vim/pack/git-plugins/start/copilot.vim"]
	path = .vim/pack/git-plugins/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule ".vim/pack/git-plugins/start/ale"]
	path = .vim/pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".vim/pack/git-plugins/start/coc.nvim"]
	path = .vim/pack/git-plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule ".vim/pack/git-plugins/start/fugitive"]
	path = .vim/pack/git-plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/git-plugins/start/codeium.vim"]
	path = .vim/pack/git-plugins/start/codeium.vim
	url = https://github.com/Exafunction/codeium.vim
[submodule ".vim/pack/git-plugins/start/vim-gitgutter"]
	path = .vim/pack/git-plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
