# Ignore brew files
.Brewfile.lock.json

# Ignore vim files
.viminfo
Session*.vim
.netrwhist

# Ignore mongodb files
.mongodb/

# Ignore zsh files
.zsh_sessions/
.zsh_history
.zcompdump

# Ignore temp files
.DS_Store
.CFUserTextEncoding
.lesshst
