# See `man git-config` for more options

#
# Core git behaviors
#
[user]
	# My name
	name = Seokyong Jung
[init]
	defaultBranch = main
[core]
	editor = nvim
	pager = delta
[credential]
	# Do not use password credentials for security
	#helper = cache --timeout 604800
[format]
	#pretty = fuller
[log]
	# Too long time to verify about lots of commits
	#showSignature = true
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[push]
	gpgSign = if-asked
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
	conflictStyle = zdiff3
[interactive]
	diffFilter = delta --color-only

#
# Delta pager
#
# See https://dandavison.github.io/delta/
#
[delta]
	line-numbers = true
	navigate = true
	#side-by-side = true

#
# Use SSH signature
#
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.allowed_signers
	#defaultKeyCommand = sh -c 'echo key::$(ssh-add -L | grep sigkey)'

#
# Redirect SSH port (21) to HTTPS port (443) to detour firewall
#
[url "ssh://git@ssh.github.com:443/"]
	insteadOf = https://github.com/
[url "ssh://git@altssh.gitlab.com:443/"]
	insteadOf = https://gitlab.com/
[url "ssh://git@altssh.bitbucket.org:443/"]
	insteadOf = https://bitbucket.org/

#
# Include local gitconfig on current machine
#
# Local gitconfig is ignored by .gitignore
#
[include]
	path = "~/.gitconfigs/.gitconfig"
